/*==========================================
                GLOBAL SCOPE
============================================ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --warna-satu:#222222;
    --warna-dua: #050505;
    --warna-tiga: #ffc010;
    --warna-text: #ffffff;
    --font-main: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #ededed;
}
main{
    margin-left: 15vw;
    padding-top: 80px;
}
header{
    width:85vw;
    margin-left: 15vw;
    position: fixed;
    z-index: 1000;
}
.container{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--warna-text);
    border-radius: 5px;
    min-height: 85vh;
    font-family: var(--font-main);
}
/*==========================================
                   SIDEBAR
============================================ */

.sidebar{
    width: 15vw;
    height: 100vh;
    background-color: var(--warna-satu);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    z-index: 1000;
}
.logo img{
    width: 80%;
    height: 100px;
    margin-left: 10%;
}
.profil{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 1rem;
}
.profil img{
    width: 40%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
.profil #label{
    color: var(--warna-text);
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 12px;
    background-color: #FF8315;
    padding: 8px;
    border-radius: 20px;
}
.profil #nama{
    color: var(--warna-text);
    font-family: var(--font-main);
    align-items: center;
    text-align: center;
}
.navigasi{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    gap: 1rem;
}
.navigasi a{
    text-decoration: none;
}
.navlink{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    color: var(--warna-text);
    font-family: var(--font-main);
    font-weight: 600;
}
.navlink svg{
    color: #ffffff;
    font-size: 30px;
}
.navlink:hover,
.navlink:active{
    background-color: var(--warna-dua);
    border-left: #ffc010 solid 4px;
}

/*==========================================
                   HEADER
============================================ */
.head{
    background-color: var(--warna-text);
}
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.judul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-main);
    font-size: 28px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
}
.judul img{
    width: 28px;
    height: 28px;
}
.akun{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.akun img{
    width: 36px;
    height: auto;
    border: #050505 solid;
    border-radius: 50%;
}
.akun .bx{
    font-size: 24px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 4%;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.akun:hover #dropdown-content {
    display: block;
}

/*==========================================
                   daftar
============================================ */
.jalur{
    background-color: var(--warna-text);
}
.banner{
    display: flex;
    justify-content: center;
}
.banner p{
    font-family: var(--font-main);
    color: var(--warna-text);
    font-weight: 500;
    font-size: 30px;
    background-color: #FF8315;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
.jalur_text{
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 20px;
}
.pilihan{
    margin-top: 20px;
    font-family: var(--font-main);
}
.pilihan p{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.jabel {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-main);
  }


  .jabel thead th {
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
  }


  .jabel tbody td:first-child {
    text-align: left;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .jabel tbody td:nth-child(2),
  .jabel tbody td:last-child {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
  }
  .jabel tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .jabel tbody td a{
    text-decoration: none;
  }
.jaton{
    font-size: 16px;
    color: var(--warna-text);
    padding: 5px;
    border-radius: 5px;
    background-color: #0074B1;
    width: 80px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-left: 37%;
}
.jaton svg,
.jatontup svg{
    width: 20px;
    height: auto;
}
.jatontup{
    font-size: 16px;
    color: var(--warna-text);
    padding: 5px;
    border-radius: 5px;
    background-color: #0a0e0f;
    width: 80px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-left: 37%;
}
.jatontar{
    font-size: 16px;
    color: var(--warna-text);
    padding: 5px;
    border-radius: 5px;
    background-color:#0074B1;
    width: 120px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-left: 32%;
}
/*==========================================
                   formdata
============================================ */
.formbox{
    width: 90%;
    margin-left: 5%;
    padding-top: 3rem;
}
.formbox-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.formbox-nav a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.formnav{
    color: #7e7e7e;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
.formnav.active,
.formnav:hover {
    background-color: #FF8315;
    color: #FFFFFF;
}
.formbox-content{
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
    max-width: 100%;
}
.formbox-content .judhal{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.deshal{
    font-size: 1rem;
    font-weight: 500;
    color: #ADADAD;
    margin-top: 0.5rem;
}
.formIsian{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    max-width: 100%;
}
.form{
    margin-top: 1rem;
}
.form input{
    width: 25rem;
    height: 2rem;
    border: 2px #ECECEC solid;
    margin-top: 0.5rem;
    border-radius: 7px;
}
.form select{
    width: 25rem;
    height: 2rem;
    border: 2px #ECECEC solid;
    margin-top: 0.5rem;
    border-radius: 7px;
}
.form p{
    font-size: 1rem;
    font-weight: 600;
}
.formfoto {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
.formfoto p{
    font-size: 0.7rem;
    font-weight: 500;
    color: #ADADAD;
    max-width: 80%;
    margin-top: 0.5rem;
}
.inputNilai{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.inputNilai p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.mapel{
    display: flex;
    justify-content: space-around;
}
.input label{
    display: block;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
.input input{
    height: 2rem;
    border: 1px #ECECEC solid;
    border-radius: 7px;
    background-color: #EEEEEE;
    text-align: center;
}
.warning{
    background-color: #0074B1;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
    margin-top: 2rem;
}

#jurdul{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#piljur{
    width: 100%;
    height: 2rem;
    margin-bottom: 8rem;
}
.btn-daftar{
    padding: 15px;
    border-radius: 5px;
    background-color: #0074B1;
    color: var(--warna-text);
    font-weight: 500;
    font-size: 1rem;
    border: none;
    margin-left: 80%;
    margin-bottom: 5rem;
    cursor: pointer;
}
/*==========================================
                   Pembayaran
============================================ */
.payment{
    font-family: var(--font-main);
    text-align: center;
    padding-top: 20%;
    background-color:#050505;
}
.payment span {
    font-size: 56px;
    color: white;
}

/*==========================================
                   listpen
============================================ */
.listpen{
    background-color: var(--warna-text);
    font-family: var(--font-main);
}
#jurusan-form{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
#jurdul{
    font-weight: 600;
    font-size: 20px;
}
.filter-butt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px;
    background-color: #0074B1;
    color: var(--warna-text);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#jurusan-select{
    background-color: #0074B1;
    font-size: 1rem;
    font-weight: 500;
    color: var(--warna-text);
    border: none;
    cursor: pointer;
    appearance: none;
    outline: none;
}
td{
    font-weight: 500;
}

/*==========================================
                Pengumuman
============================================ */

.pengumuman{
    border-top: 1.5rem solid #0074B1;
}

.headpen{
    text-align: center;
    margin-top: 5rem;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px;
    background-color: #0074B1;
    width: 80%;
    margin-left: 10%;
    border-radius: 7px;
    color: var(--warna-text);
}

.countdown{
    margin-top: 2rem;
    width: 80%;
    margin-left: 10%;
}

.countdown p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.waktu{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.wabox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.wabox p{
    background-color: #f4f5f5;
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
    padding-top: 25%;
}
#countdownForm{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 30px;
    gap: 0.5rem;
}
#submitCountdownBtn{
    background-color: #0074B1;
    border:none;
    color: var(--warna-text);
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}
.lihatPengumuman{
    display: none;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
}
.lihatPengumuman p{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0074B1;
    color: var(--warna-text);
    font-size: 1rem;
    font-weight: 500;
}
.hasil{
    border-top: 1.5rem solid #0074B1;
}
.headsilos{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem;
}
.card-wrap{
    margin-left: 5%;
    width: 90%;
    margin-top: 2rem;
    border-bottom: 1.2rem solid #0074B1;
    padding-bottom: 2rem;
    border-radius: 5px;
}
.congrats{
    display: flex;
    justify-content: center;
    background-color: #0074B1;
    width: 100%;
    height: 75px;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--warna-text);
    border-radius: 7px;
}
.data-diri{
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: center;
}
.data-diri img{
    width: 275px;
    height: 300px;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.data p{
    font-size: 1.75rem;
    font-weight: 500;
    width: 100%;
}
.data span{
    font-weight: 600;
    display: inline-block;
    width: 175px;
}
.headsiltalos{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem;
}
.card-wraptalos{
    margin-left: 5%;
    width: 90%;
    margin-top: 2rem;
    border-bottom: 1.2rem solid #DD4C38;
    padding-bottom: 2rem;
    border-radius: 5px;
}
.congratstalos{
    display: flex;
    justify-content: center;
    background-color: #DD4C38;
    width: 100%;
    height: 75px;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--warna-text);
    border-radius: 7px;
}
.data-diritalos{
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: center;
}
.data-diritalos img{
    width: 275px;
    height: 300px;
}
.datatalos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.datatalos p{
    font-size: 1.75rem;
    font-weight: 500;
    width: 100%;
}
.datatalos span{
    font-weight: 600;
    display: inline-block;
    width: 175px;
}
#ucapansemangat{
    font-weight: 300;
    font-size: 1.5rem;
    color: #000000;
    font-style: italic;
}
